<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>




</head>
<body>
    <section class="box">
    <img src="../img/img.png"  width="180" alt="" class="box-img">
    <h1>Nombre: Jefferson Steven Rodríguez Rueda</h1>
    <h1>Edad: 21 Años</h1>
    <h1>Ciudad: Jutiapa, Guatemala</h1>
    <p>Este curso de Desarrollo Web siento que es el mas interesante hacia mi persona de este semestre ya que es un curso
        el cual le deseo aprender bastante, todas las tecnologías que se verán son las que actualmente utilizan en las empresas
        los desarrolladores, es por eso que deseo aprender y sacarle el 100% de provecho a este curso para adquirir nuevos conocimientos
        de nuevos lenguajes de programación, nuevos frameworks, desarrollar mejor mi lógica en el backend etc..
    </p>
    <br><br>
    <p>Experiencia en desarrollo web, tengo en base a diferentes proyectos que e desarrollado, tanto proyectos de la Universidad
        como los que trabajamos en Programación 3 usando Node js, JavaScript etc, tambien e desarrollado proyectos por mi cuenta
        utilizando el framework de Angular 13 con angular material para aprender nuevas tecnologías y a la ves practicar diferentes conceptos
        de programación Web.
    </p>
    </section>
</body>
</html>